@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  background-color: white;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

/* RESPONSIVENESS */
@media screen and (max-width: 990px) {
  .arrow_img {
    right: 60px;
    top: 5px;
  }
}

@media screen and (max-width: 660px) {
  .links a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-bottom: -8%;
  }
  .arrow_img {
    right: 20px;
    top: 2px;
  }
}

@media screen and (max-width: 400px) {
  .arrow_img {
    right: 6px;
    top: -2px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 653px) {
  .checkbox_div label {
    font-size: 13px;
  }
}

@media screen and (max-width: 635px) {
  .links a {
    padding: 5%;
    margin-bottom: 7%;
  }
  footer {
    margin-top: 20%;
  }
  .footer {
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 560px) {
  input[type="checkbox"] {
    height: 2em;
    width: 2.2em;
  }
}

@media screen and (max-width: 480px) {
  .links a {
    padding: 7%;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 430px) {
  .container {
    margin: 18% auto;
  }
  .name_div {
    flex-direction: column;
  }
  .footer {
    margin-bottom: 8%;
  }

  input[type="checkbox"] {
    width: 2.8em;
  }
}

@media screen and (max-width: 380px) {
  input[type="checkbox"] {
    width: 3em;
  }
}
