@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  background-color: white;
  /* height: auto; */
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.profile {
  margin: 5% 6% 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

a {
  text-decoration: none;
}

.img_div {
  position: relative;
  cursor: pointer;
}

#profile_img {
  margin: auto 0;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: rgb(52, 64, 84, 0.75);
  padding: 0;
  justify-content: center;
  place-items: end;
}

.icon {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.img_div:hover .overlay {
  display: grid;
}

.profile p {
  color: #101828;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.arrow_img {
  position: absolute;
  right: 208px;
  top: -20px;
}

.arrow_img button {
  border: none;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.links {
  margin: 2% 6%;
  display: flex;
  flex-direction: column;
}

.links a {
  margin: 1% 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 2%;
  border: 1px solid #eaecf0;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: #101828;
  background-color: #eaecf0;
  text-align: center;
}

.links a:hover {
  background-color: rgb(203, 206, 211, 0.6);
}

/* SOCIALS */
.socials {
  margin: 2% 6%;
  display: flex;
  justify-content: center;
}

.social_icon {
  margin: 0 1%;
}

/* FOOTER */
footer {
  border-top: 1px solid #eaecf0;
  margin: 8% 2% 3%;
}

.footer {
  margin: 3% 0;
  display: flex;
  justify-content: space-between;
}

.footer div {
  display: flex;
  align-items: center;
}

.footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #667085;
}

/* CONTACT PAGE */
.container {
  width: 720px;
  margin: 8% auto;
}

.container h1 {
  font-size: 36px;
  color: #101828;
}

.container p {
  font-size: 1.2em;
  font-weight: 400;
  color: #475467;
  margin-bottom: 8%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 14px;
  font-weight: 500;
  /* line-height: 20px; */
  color: #344054;
}

.three_inputs,
textarea {
  width: 100%;
  margin-top: 1%;
  padding: 12px 14px;
  background-color: white;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  outline: none;
  box-sizing: border-box;
}

.three_inputs::placeholder,
textarea::placeholder {
  color: #667085;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

input:focus {
  border: 1px solid #84caff;
}

textarea:focus {
  border: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

.input_div {
  margin-bottom: 30px;
}

.name_div {
  display: flex;
  justify-content: space-between;
}

.name_div div {
  flex-basis: 48%;
}

.checkbox_div {
  display: flex;
  align-items: center;
}

.checkbox_div label {
  /* margin-left: 2%; */
  color: #475467;
}

input[type="checkbox"] + label {
  display: flex;
  margin: 0.1em;
  /* cursor: pointer; */
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  height: 2em;
  width: 2em;
  background-color: white;
  border: 1px solid #1570ef;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

input[type="checkbox"]::after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 1.4em;
  color: #1570ef;
  display: none;
  transition: 0.2s ease;
}

input[type="checkbox"]:active::after {
  transform: scale(0);
}

input[type="checkbox"]:checked::after {
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1570ef;
}
input[type="checkbox"]:focus::after {
  height: 1em;
  /* width: 2em; */
  border: 1px solid #84caff;
  border-radius: 6px;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
}

#btn__submit {
  color: white;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: #1570ef;
  border: 1px solid #1570ef;
  border-radius: 8px;
  padding: 12px 20px;
  height: 48px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  cursor: pointer;
}

#btn__submit:hover {
  background-color: #175cd3;
}

#btn__submit:active {
  background-color: #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

#btn__submit:disabled {
  background-color: #b2ddff;
  border: 1px solid #b2ddff;
}

/* RESPONSIVENESS */
@media screen and (max-width: 990px) {
  .arrow_img {
    right: 60px;
    top: 5px;
  }
}

@media screen and (max-width: 660px) {
  .links a {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin-bottom: -8%;
  }
  .arrow_img {
    right: 20px;
    top: 2px;
  }
}

@media screen and (max-width: 400px) {
  .arrow_img {
    right: 6px;
    top: -2px;
  }
}

@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 653px) {
  .checkbox_div label {
    font-size: 13px;
  }
}

@media screen and (max-width: 635px) {
  .links a {
    padding: 5%;
    margin-bottom: 7%;
  }
  footer {
    margin-top: 20%;
  }
  .footer {
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 560px) {
  input[type="checkbox"] {
    height: 2em;
    width: 2.2em;
  }
}

@media screen and (max-width: 480px) {
  .links a {
    padding: 7%;
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 430px) {
  .container {
    margin: 18% auto;
  }
  .name_div {
    flex-direction: column;
  }
  .footer {
    margin-bottom: 8%;
  }

  input[type="checkbox"] {
    width: 2.8em;
  }
}

@media screen and (max-width: 380px) {
  input[type="checkbox"] {
    width: 3em;
  }
}
